<ion-header>
    <ion-navbar>
        <ion-title>
            Air force Squadron
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="addRecord()">
            <ion-icon name="add"></ion-icon>
         </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-card class="movie" text-wrap *ngFor="let movie of movies | async">
            <ion-item>
                <h2>{{ movie.title }}</h2>
                <small>{{ movie.date }} ({{ movie.duration }})</small>
                <p>{{ movie.summary }}</p>


                <section class="multiples">
                    <h3>Actors/Actresses</h3>
                    <ion-chip *ngFor="let actor of movie.actors" padding-left padding-right margin-right>{{ actor.name }}</ion-chip>
                </section>


                <section class="multiples">
                    <h3>Genres</h3>
                    <ion-chip *ngFor="let genre of movie.genres" padding-left padding-right margin-right>{{ genre.name }}</ion-chip>
                </section>

            </ion-item>


            <div class="manage-record" padding>
                <button ion-button text-center color="primary" (click)="editMovie(movie)">Edit</button>

                <button ion-button text-center color="danger" (click)="deleteMovie(movie)">Delete</button>
            </div>
        </ion-card>
    </ion-list>

</ion-content>